.wrapper-filter {
  display: flex;
  align-items: baseline;

  h3 {
    padding-right: 10px;
  }
}

.filter-counter {
  font-size: 14px;
  font-weight: 400;
}

.wrapper-categories {
  display: flex;
  align-items: baseline;

  h3 {
    padding-right: 10px;
  }
}

.wrapper-categories-dropdown {
  display: flex;
  align-items: baseline;
}
