.categories-wrapper {
  margin-left: 10px;

  li {
    margin-bottom: 10px;
  }

  li.active {
    font-weight: 700;
  }

    input[type="checkbox"] {
        display:none;
    }
}

.category-radio-btn {
    display: none;
}

.categories-desktop {
  .categories-wrapper {
    margin: 10px 0 0 40px;
    font-size: 22px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

    li {
        align-self: flex-start;
        label {
            cursor: pointer;
            transition: 0.5s ease;
        }
    }

    li.active {
      font-weight:700;
      padding-bottom: 3px;
      border-bottom: 2px solid $mainColorPink;
    }

    li:hover {
        label {
            font-weight: 700;
            transition: 0.5s ease;
        }
    }
  }
}

.filter-desktop {
  margin-bottom: 20px;
}

/***************TABLET***************/

@media (min-width: $Tablet) {
    .categories-desktop {
        .categories-wrapper {
            flex-direction: row;
            justify-content: space-between;
            width:70%;
            margin: 0 auto;
            height:42px;
        }
    }
}

/***************DESKTOP***************/

@media (min-width: $Desktop) {
    .categories-desktop {
        .categories-wrapper {
            width:50%;
        }
    }
}
