body {
  font-family: 'Lato', sans-serif;

  //todo: help!
  //background: url("/images/svg/background-image.svg");
  //background-repeat: no-repeat;
  //background-position: top right;
  //background-size: 80% auto;

  margin: 0;
  padding: 0px;

  color: $mainColorDarkPurple;
  font-size: 18px;
  line-height: 25px;
  width:100%;

  //sticky footer
  //display: flex;
  //flex-direction: column;

}

header {
  //margin-bottom:20px;
}

.wrapper {
  padding: 0 25px;
}

html,body {
  height: 100%;
  margin: 0;
}


//sticky footer

.content-wrapper.main-wrapper {
  //height: calc(100vh - 230px);
  //min-height: 100%;
    min-height: calc(100% - 216px);
}

.align-content-center {
    min-height: calc(100vh - 216px);
    display: flex;
    align-items: center;
}


footer {
  //height: 75px;

}

* {
  box-sizing: border-box;
}

ol,ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  line-height: 30px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  font-weight: 900;
  color: $mainColorPurple;
  margin: 0 0 20px 0;
}

.h1 {
  font-size: 28px;
  font-weight: 900;
  color: $mainColorPurple;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: $mainColorPurple;
  margin: 0 0 10px 0;
}

h3 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: $mainColorPurple;
  margin: 0 0 10px 0;
}

a {
  text-decoration: none;
  color: $mainColorDarkPurple;
}


/***************TABLET***************/

@media (min-width: 768px)  {
  .wrapper {
    padding: 0 50px;
  }

  header {
    //margin-bottom:50px;
  }

    //sticky footer/
    .content-wrapper.main-wrapper {
        min-height: calc(100% - 261px);
    }

    .align-content-center {
        min-height: calc(100vh - 261px);
        display: flex;
        align-items: center;
    }

  h1 {
    font-size: 30px;
    margin: 0 0 20px 0;
  }
  .h1 {
    font-size: 30px;
    margin: 0 0 20px 0;
  }

  h2 {
    font-size: 23px;
    line-height: 30px;

    margin: 0 0 10px 0;
  }

  h3 {
    font-size:20px;
    line-height: 25px;

    margin: 0 0 10px 0;
  }


}

/***************DESKTOP***************/

@media (min-width: 1020px)  {
  .wrapper {
    padding: 0 100px;
  }

  body {
    background-size: 70% auto;
  }

  header {
    margin-bottom:0;
  }

    //sticky footer/
    .content-wrapper.main-wrapper {
        min-height: calc(100% - 240px);
    }

    .align-content-center {
        min-height: calc(100vh - 240px);
        display: flex;
        align-items: center;
    }


  h1 {
    font-size: 44px;
    margin: 0 0 50px 0;
    line-height:45px;
  }

  .h1 {
    font-size: 44px;
    margin: 0 0 50px 0;
    line-height:45px;
  }

  h2 {
    font-size: 40px;
    line-height: 35px;

    margin: 0 0 10px 0;
  }

  h3 {
    font-size:22px;
    line-height: 25px;

    margin: 0 0 10px 0;
  }
}

@media (min-width: 1900px) {
  .wrapper {
    max-width: 1800px;
    margin: 0 auto;
  }
}
