
/***************MOBILE***************/

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-mobile {
  transition: 0.3s ease-in-out;
  padding: 20px 25px;
}

.logo {
  width:120px;
  transition: 0.3s ease-in-out;
}

svg.fa-times, svg.fa-bars {
  width: 30px;
  height: 30px;
}

.icon {
  width:25px;
}

.navigation-desktop {
  display: none;
}

.navigation-mobile-flex {
  display:flex;
  justify-content: space-between;
}

.navigation-mobile.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 25px 10px 25px;
  transition: 0.3s ease-in-out;
  box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.15);
  z-index:1;

  .logo {
    width:80px;
    transition: 0.3s ease-in-out;
  }

  .navigation-mobile-flex {
    width:85%;
  }
}

//Click Nav

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.menu-btn__burger {
  width: 30px;
  height: 4px;
  background: $mainColorPurple;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: $mainColorPurple;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}

//Click Nav Animation

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.navigation-mobile.open {
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);

  .navigation-mobile-open-navpoints {
    ul {
      margin-top: 30px;
      margin-left: 40px;

      li {
        padding-bottom: 20px;

        a {
          font-size: 25px;
        }
      }
    }
  }
}

/***************TABLET***************/

@media (min-width: $Tablet) {

  .navigation-mobile {
    transition: 0.3s ease-in-out;
    padding: 20px 50px;
  }

  .navigation-mobile.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 50px 10px 50px;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;

    .logo {
      width: 80px;
      transition: 0.3s ease-in-out;
    }

    .navigation-mobile-flex {
      width: 85%;
    }
  }


  .navigation-mobile.open {

    .navigation-mobile-open-navpoints {
      ul {
        margin-top: 100px;
        margin-left: 120px;

        li {
          padding-bottom: 30px;

          a {
            font-size: 30px;
          }

          a.navigation-desktop-profile-navigation-points {
            padding-right: 10px;
          }
        }
      }

      ul.open-user-navigation-points {
        margin-top: 30px;
        margin-left: 60px;
      }
    }
  }
}

/***************DESKTOP***************/

@media (min-width: $Desktop) {
  .navigation-mobile {
    display: none;
  }

  .navigation-desktop.scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background-color: rgba(255, 255, 255, 1);
    transition: 0.3s ease-in-out;
    padding: 20px 100px;
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.15);
    z-index:1;

    .logo {
      margin-right: 30px;
      width: 100px;
      transition: 0.3s ease-in-out;
    }

    .navigation-desktop-flex {
      width: 100%;
    }
  }

  ul.navigation-desktop-profile-navigation-points-container {
    background-color: white;
    padding-left: 5px;
    li {
      //background-color: rgba(255, 255, 255, 1);
      transition: 0.3s ease-in-out;
      background-color: white;
    }
  }

  .navigation-desktop {
    display: block;
    padding: 30px 100px;
    transition: 0.3s ease-in-out;

    .logo {
      margin-right: 30px;
      width: 150px;
      transition: 0.3s ease-in-out;
    }

    ul li a {
      transition: 0.2s;
    }

    ul li a:hover {
      font-weight: 700;
      transition: 0.2s ease-in-out;
    }

    ul li a img.search-icon {
      transition: 0.3s ease-in-out;
    }

    ul li a img.search-icon:hover {
      width: 28px;
      transition: 0.3s ease-in-out;
    }
  }

  .navigation-desktop-profile-navigation-points {
    margin-right: 10px;
    padding-left:20px;
  }


  .open-user-navigation-points {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    max-width:100px;


    li {
      padding: 0px 10px 15px 0px;
      width: 150px;
      z-index: 1;

      a {
        padding-left:20px;
      }
    }
  }

  .navigation-desktop-flex {
    display: flex;
    justify-content: space-between;
    align-items:center;

    .navigation-desktop-flex-left {
      display: flex;
      align-items:center;



      .navigation-desktop-flex-left-links {
        display: flex;
        justify-content: space-between;
        width: 180px;
        height: 35px;
      }
    }

    .navigation-desktop-flex-right {

      ul {
        display: flex;
        justify-content: space-between;
        height: 35px;

          li:first-child {
              margin-right: 40px;
          }
      }
    }
  }
}
