
.rotate-leaves-left {
    animation: rotation-leaves 6s infinite linear;
    transform-origin: bottom right;
}

.rotate-leaves-right {
    animation: rotation-leaves 6s infinite linear;
    transform-origin: bottom left;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@keyframes rotation-leaves {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

//.header-container-wrapper {
//    height: calc(100vh - 100px);
//}

.header-container {
    position:relative;
    //background-color: #f4e7e7;
    //background-color: $mainColorLightCyan;
    background-image: url("/images/home_header/background-image-mobile.svg");
    background-repeat: no-repeat;
    background-size: 90%, 70%;
    background-position: right top;
    height: 90vh;
    //z-index: -10;
    //overflow: hidden;
    display: flex;
    flex-direction: column;
    //justify-content: center;

    .home-hero-text-wrapper {
        padding: 0px 20px 0 20px;
        //z-index: 2;
        margin-top: 50px;

        p {
            font-size: 25px;
            line-height: 35px;
            margin-bottom:50px;
            max-width: 20ch;

            a {
                font-weight: 700;
                border-bottom: 4px solid $mainColorDarkPurple;
                padding-bottom: 5px;
                transition: 0.4s ease;
                &:hover {
                    color: #32A9AD;
                    border-bottom: 4px solid $mainColorDarkCyan;
                    transition: 0.4s ease;
                }
            }
        }

        p:first-child {
            margin-bottom:30px;
            width: 55%;
            font-size: 45px;
            line-height: 45px;
            font-weight: 700;
        };
    }

    .header-container-images-berries {
        position: absolute;
        bottom: 30px;
        left: 0;
        height: 45%;

        .images-berries-position-rel {
            position: relative;
            //border: 5px solid fuchsia;
            height: 100%;
            //width: 1000px;

            .stachelbeere-links-1 {
                display: none;
            }
            .stachelbeere-links-2 {
                display: none;
            }

            .stachelbeerebowl {
                height: 65%;
                position:absolute;
                bottom: 0;
                left: 200px;
            }

            .stachelbeere-links-3 {
                display: none;
            }

            .heidelbeere-links-1 {
                display: none;
            }

            .heidelbeere-links-2 {
                display: none;
            }

            .heidelbeere-links-3 {
                display: none;
            }

        }
    }

    .header-container-images-salad {
        position: absolute;
        top: 0;
        right: 0;
        height: 80%;

        .images-salad-position-rel {
            position: relative;
            height: 100%;

            .salad-bowl {
                position:absolute;
                bottom: 0;
                right: -50px;
                height: 65%;
                display: none;
            }

            .blatt-oben-links {
                position:absolute;
                top: 0;
                right: 30px;
                height:12%;
            }

            .heidelbeere-rechts {
                position:absolute;
                top: 70px;
                right: 60px;
                height: 8%;
            }

            .stachelbeere-rechts-oben {
                position:absolute;
                top: 40px;
                right: 10px;
                height: 10%;
                display: none;
            }

            .stachelbeere-rechts-unten {
                position:absolute;
                top:55px;
                right: 5px;
                height: 8%;
            }

            .blatt-oben-rechts {
                position:absolute;
                top: 90px;
                right: 20px;
                height:10%;
            }
        }
    }
}

//list how-it-works

ol.home-list-how-it-works {
  list-style: none;
  counter-reset: how-it-works-counter;

    p {
        font-size:22px;
        line-height: 35px;
    }
}

ol.home-list-how-it-works li {
  counter-increment: how-it-works-counter;
}

ol.home-list-how-it-works li::before {
  content: counter(how-it-works-counter);
  color: $mainColorCyan;
  font-weight: bold;
  font-size: 50px;
  padding-left:0;
}

ol.home-list-how-it-works li h2,
ol.home-list-how-it-works li p{
  padding-left: 30px;
}

//.how-it-works-video-section {
//  background-color: $mainColorBgGrey;
//  padding: 30px;
//}

//.how-it-works-video-placeholder {
//  //width: 80%;
//  display: flex;
//  justify-content: center;
//  margin: 0 auto;
//  box-shadow: 8px 8px 15px 0px rgba(119,105,136,0.27);
//}

a.link {
  //display: flex;
  //justify-content: center;
  //display:inline-block;
  display: flex;
    justify-content: center;
    margin: 0 auto;
  border-bottom: 2px solid $mainColorPink;
  width:85px;
  line-height: 35px;
    font-size:22px;
}

a.link:hover {
  font-weight: 700;
}


/***************MOBILE MEDIUM***************/

@media (min-width: $Mobile-Medium) {
    .header-container {

        .home-hero-text-wrapper {
            margin-top: 80px;

            p {
                font-size: 30px;
                line-height: 40px;
                margin-bottom:50px;
                max-width: 350px;
            }

            p:first-child {
                width: 55%;
                font-size: 50px;
                line-height: 50px;
            };
        }

        .header-container-images-berries {
            position: absolute;
            bottom: 30px;
            left: 0;
            height: 45%;

            .images-berries-position-rel {
                position: relative;
                //border: 5px solid fuchsia;
                height: 100%;
                //width: 1000px;

                .stachelbeere-links-1 {
                    //position: absolute;
                    //top: 80px;
                    //left: 20px;
                    //height: 10%;
                    display: none;
                }
                .stachelbeere-links-2 {
                    position: absolute;
                    top:0;
                    left: 100px;
                    height: 20%;
                    display: none;
                }

                .stachelbeerebowl {
                    //wdith: 50%;
                    height: 75%;
                    //position:absolute;
                    //top: 93px;
                    //left: 200px;
                    display: none;
                }

                .stachelbeere-links-3 {
                    position:absolute;
                    bottom: 0;
                    left: 330px;
                    height: 20%;
                    display: none;
                }

                .heidelbeere-links-1 {
                    position:absolute;
                    bottom: 0;
                    left: 550px;
                    height: 10%;
                    display: none;
                }

                .heidelbeere-links-2 {
                    position:absolute;
                    bottom: 40px;
                    left: 590px;
                    height: 12%;
                    display: none;
                }

                .heidelbeere-links-3 {
                    position:absolute;
                    bottom: 0;
                    left: 620px;
                    height: 10%;
                    display: none;
                }

            }
        }

        .header-container-images-salad {
            position: absolute;
            top: 0;
            right: 0;
            height: 80%;

            .images-salad-position-rel {
                position: relative;
                height: 100%;

                .salad-bowl {
                    position:absolute;
                    bottom: 0;
                    right: 0;
                    height: 50%;
                    display: block;
                }

                .blatt-oben-links {
                    position:absolute;
                    top: 0;
                    right: 30px;
                    height:12%;
                }

                .heidelbeere-rechts {
                    position:absolute;
                    top: 70px;
                    right: 60px;
                    height: 8%;
                }

                .stachelbeere-rechts-oben {
                    position:absolute;
                    top: 40px;
                    right: 10px;
                    height: 10%;
                    display: none;
                }

                .stachelbeere-rechts-unten {
                    position:absolute;
                    top:55px;
                    right: 5px;
                    height: 8%;
                }

                .blatt-oben-rechts {
                    position:absolute;
                    top: 90px;
                    right: 20px;
                    height:10%;
                }
            }
        }
    }

}



/***************TABLET***************/

@media (min-width: $Tablet)  {

    .header-container {
        position:relative;
        height: calc(100vh - 82px);
        justify-content: flex-start;

        .home-hero-text-wrapper {
            width: 60%;
            padding: 0 0 0 50px;

            p {
                font-size: 40px;
                line-height: 50px;
                max-width:40ch;
            }

            p:first-child {
                width:100%;
                font-size: 65px;
                line-height: 65px;
            }

            .cta-btn-wrapper.cta-btn-small{
                margin: 0;
            }
        }

        .header-container-images-berries {
            position: absolute;
            bottom: 30px;
            left: 0;
            height: 45%;

            .images-berries-position-rel {
                position: relative;
                height: 100%;

                .stachelbeere-links-1 {
                    display: none;
                }
                .stachelbeere-links-2 {
                    display: none;
                }

                .stachelbeerebowl {
                    height: 85%;
                    position:absolute;
                    top: 80px;
                    left: 60px;
                    display: none;
                }

                .stachelbeere-links-3 {
                    position:absolute;
                    bottom: 0;
                    left: 360px;
                    height: 17%;
                    display: none;
                }

                .heidelbeere-links-1 {
                    display: none;
                }

                .heidelbeere-links-2 {
                    position:absolute;
                    bottom: 60px;
                    left: 330px;
                    height: 12%;
                    display: none;
                }

                .heidelbeere-links-3 {
                    position:absolute;
                    bottom: 70px;
                    left: 390px;
                    height: 25%;
                    display: none;
                }

            }
        }

        .header-container-images-salad {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;

            .images-salad-position-rel {
                position: relative;
                height: 100%;

                .salad-bowl {
                    position:absolute;
                    bottom: 0px;
                    right: 100px;
                    height: 45%;
                    display: block;
                }

                .blatt-oben-links {
                    position:absolute;
                    top: 50px;
                    right: 170px;
                    height:10%;
                }

                .heidelbeere-rechts {
                    position:absolute;
                    top: 130px;
                    right: 170px;
                    height: 5%;
                }

                .stachelbeere-rechts-oben {
                    position:absolute;
                    top: 50px;
                    right: 100px;
                    height: 8%;
                    display: block;
                }

                .stachelbeere-rechts-unten {
                    position: absolute;
                    top: 200px;
                    right: 130px;
                    height: 6%;
                }

                .blatt-oben-rechts {
                    position:absolute;
                    top: 150px;
                    right: 40px;
                    height:12%;
                }
            }
        }
    }

  h1.home-h1 {
    margin-bottom: 80px;
  }

  .home-hero-section {
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom:50px;

    .home-hero-text-wrapper {
      width: 40%;
    }

    img {
      width:50%;
      margin: 0;
    }
  }

  .home-hero-section-text {
    p {
      font-size:21px;
    }
    p:first-child {
      font-size:35px;

    }
  }

  .home-list-how-it-works {
    display: flex;
    justify-content: space-between;
  }

  //.how-it-works-video-section {
  //  padding: 50px 100px;
  //}

  .list-recipe-cards {
    display: flex;
    flex-wrap: wrap;
  }

  a.link {
    //width: 80px;
    display:flex;
    justify-content: center;
  }
}


/***************DESKTOP***************/

@media (min-width: $Desktop) {

    .header-container {
        position:relative;
        background-image: url("/images/home_header/home-bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vh - 110px);
        margin-bottom: 120px;

        .home-hero-text-wrapper {
            width: 50%;

            p {
               font-size: 35px;
                line-height: 50px;
                max-width: 30ch;
            }

            p:first-child {
                font-size: 80px;
                line-height: 75px;
                font-weight:700;
                margin-bottom: 25px;
            }
        }

        .header-container-images-berries {
            position: absolute;
            bottom: 30px;
            left: 0;
            height: 45%;

            .images-berries-position-rel {
                position: relative;
                //border: 5px solid fuchsia;
                height: 100%;
                //width: 1000px;

                .stachelbeere-links-1 {
                    position: absolute;
                    top: 80px;
                    left: 20px;
                    height: 10%;
                    display: none;
                }
                .stachelbeere-links-2 {
                    position: absolute;
                    top:0;
                    left: 100px;
                    height: 17%;
                    display: none;
                }

                .stachelbeerebowl {
                    //wdith: 50%;
                    height: 75%;
                    position:absolute;
                    top: 80px;
                    left: 60px;
                    display: block;
                }

                .stachelbeere-links-3 {
                    position:absolute;
                    bottom: 0;
                    left: 360px;
                    height: 17%;
                    display: block;
                }

                .heidelbeere-links-1 {
                    position:absolute;
                    bottom: 270px;
                    left: 100px;
                    height: 10%;
                    display: none;
                }

                .heidelbeere-links-2 {
                    position:absolute;
                    bottom: 60px;
                    left: 330px;
                    height: 12%;
                    display: block;
                }

                .heidelbeere-links-3 {
                    position:absolute;
                    bottom: 70px;
                    left: 390px;
                    height: 25%;
                    display: block;
                }

            }
        }

        .header-container-images-salad {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 80%;

            .images-salad-position-rel {
                position: relative;
                height: 100%;

                .salad-bowl {
                    position:absolute;
                    //top:auto;
                    top: 300px;
                    right: 100px;
                    height: 70%;
                    display: block;
                }

                .blatt-oben-links {
                    position:absolute;
                    bottom: 710px;
                    right: 300px;
                    height:10%;
                }

                .heidelbeere-rechts {
                    position:absolute;
                    bottom: 630px;
                    right: 270px;
                    height: 7%;
                }

                .stachelbeere-rechts-oben {
                    position:absolute;
                    bottom: 670px;
                    right: 210px;
                    height: 10%;
                }

                .stachelbeere-rechts-unten {
                    position:absolute;
                    bottom: 590px;
                    right: 200px;
                    height: 8%;
                }

                .blatt-oben-rechts {
                    position:absolute;
                    bottom: 650px;
                    right: 130px;
                    height:13%;
                }
            }
        }
    }

  .home-recommended.recipe-cards-wrapper-flex {
    justify-content: center;
  }

  //.how-it-works-video-placeholder-desktop {
  //  width: 75%;
  //  display: flex;
  //  margin: 0 auto;
  //}

  .home-hero-section {
    margin-bottom:100px;

    .home-hero-text-wrapper {
      width: 43%;


      .cta-btn-wrapper {
        margin:0;
      }
    }

    img {
      width:50%;
    }
  }

  //.home-hero-section-text {
  //  margin-bottom: 60px;
  //
  //  p {
  //    font-size: 35px;
  //    line-height: 45px;
  //  }
  //
  //  p:first-child {
  //    font-size: 65 px;
  //    line-height: 65px;
  //    margin-bottom: 25px;
  //  }
  //}

  .home-list-how-it-works {
    margin-bottom: 50px;
  }

  ol.home-list-how-it-works li {
    width: 30%;
  }

  ol.home-list-how-it-works li::before {
    line-height:60px;
  }

  ol.home-list-how-it-works li h2,
  ol.home-list-how-it-works li p {
    padding-left: 45px;
  }
}


@media (min-width: $Desktop-Lg) {

    .header-container {

        .home-hero-text-wrapper {
            padding: 50px 0 0 100px;
            p {
                font-size: 40px;
                line-height: 55px;
                max-width: 30ch;
            }

            p:first-child {
                font-size: 95px;
                line-height: 100px;
            }
        }

        .header-container-images-salad {

            .images-salad-position-rel {

                .salad-bowl {
                    position: absolute;
                    top: 250px;
                    right: 100px;
                    height: 85%;
                    display: block;
                }

                .blatt-oben-links {
                    position: absolute;
                    bottom: 710px;
                    right: 300px;
                    height: 10%;
                }

                .heidelbeere-rechts {
                    position: absolute;
                    bottom: 630px;
                    right: 270px;
                    height: 7%;
                }

                .stachelbeere-rechts-oben {
                    position: absolute;
                    bottom: 670px;
                    right: 210px;
                    height: 10%;
                }

                .stachelbeere-rechts-unten {
                    position: absolute;
                    bottom: 590px;
                    right: 200px;
                    height: 8%;
                }

                .blatt-oben-rechts {
                    position: absolute;
                    bottom: 650px;
                    right: 130px;
                    height: 13%;
                }
            }
        }
    }

}


@media (min-width: $Desktop-Xl) {

  //.how-it-works-video-placeholder-desktop {
  //  width: 60%;
  //  display: flex;
  //  margin: 0 auto;
  //}

  .home-list-how-it-works {
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

    //todo: new svg background for header


}
