.recipe-wrapper {

}

//.mobile-ingr-steps {
//
//}

.desktop-ingr-steps {
    display: none;
}

.hide-list {
    display:none;
}

.recipe-tabs {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  li:nth-child(2) {
    margin-left: 20px;
  }

  .recipe-tab-active {
    font-weight: 700;
    transition: 0.2s ease-in-out;
  }

  .recipe-tab-active:after {
    margin: 5px auto 5px auto;
    width: 30px;
    border-bottom: 3px solid $mainColorPink;
    border-radius: 15%;
    content: '';
    display: block;
  }
}

.rating-star-wrapper {
    display:flex;
    justify-content: flex-end;

    img.rating-star {
        width:20px;
        height:25px;
    }
    .rating-star.filled {
        fill:yellow;
    }
}


.add-favorite-btn {
    border:none;
    background-color: transparent;

    i.fa-heart::before {
        color: $mainColorLightPurple;
        width:50px;
    }
}

.ingredients-list {

  li.ingredients-list-item:before {
    content: url("/images/svg/list-style-icon.svg");
    margin-right: 8px;
  }

  li.ingredients-list-item {
    margin-bottom: 15px;
  }
  li.ingredients-list-item:last-child {
    margin-bottom: 0px;
  }
}

.step-list-item {
  .steps-count {
    margin-bottom: 10px;
  }
}

.recipe-image {
  width:100%;
  height: 35vh;
  object-fit: cover;
  margin: 20px 0;
}

@media (max-width: $Desktop) {

    .recipe-detail-wrapper-flex {
        display: flex;
        flex-direction: column-reverse;

        .recipe-detail-text {
            display: flex;
            flex-direction: column;


            .rating-stars {
                order: 1;
                display: flex;
                justify-content: flex-end;
            }

            .recipe-detail-cta-favorite {
                order: 2;
                display: flex;
                justify-content: flex-end;
            }

            .recipe-detail-text-user {
                order:3;
            }

            .recipe-detail-text-section {
                order:4;
            }
        }
        img.recipe-detail-img {
            width: 100%;
            height: 35vh;
            object-fit: cover;
        }
    }
}


/***************TABLET***************/

@media (min-width: $Tablet) {

  .recipe-image {
    width:100%;
    height: 40vh;
    object-fit: cover;
    margin: 20px 0;
  }
}


/***************DESKTOP***************/

@media (min-width: $Desktop) {

    .mobile-ingr-steps {
        display: none;
    }

    .desktop-ingr-steps {
        display: block;
    }

  .recipe-detail-wrapper {
    background-color: $mainColorBgGrey;
    height: 80vh;
    display: flex;
    align-items: center;
  }
  .recipe-detail-wrapper-flex {
    display: flex;
    margin: 0 auto;
    padding: 0px 100px;
    height:70%;


    img.recipe-detail-img {
      width: 50%;
      //height: 20%;
      object-fit: cover;
      //margin-right: 100px;
      border-radius: 5px 0px 0px 5px;
    }

    div.recipe-detail-text {
      width:50%;
      background-color: white;
      border-radius: 0px 5px 5px 0px;
      padding:50px 30px 50px 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .recipe-detail-text-section {
        text-align: left;
        color: $mainColorDarkPurple;
      }

      .rating-stars {
        text-align: right;
        margin-bottom: 30px;
      }
    }
  }

  .recipe-detail-ingredient-step-flex {
    display: flex;
    justify-content: space-between;

    div.recipe-detail-ingredient-step-item {
      width:45%;
    }
  }

  .comments-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div.comment-wrapper {
      width:45%;
    }
  }

  //.step-list-item {
    .steps-count {
      line-height: 0.75;
      font-size: 25px;
    }
  //}
}

@media (min-width: 1900px) {

  .recipe-detail-wrapper-flex {
    max-width: 60%;
  }

}

