//colors

$mainColorCyan: #00CFD6;
$mainColorLightCyan: #E8FFFD;
$mainColorPurple: #402661;
$mainColorLightPurple: #776988;
$mainColorPurpleNav: #56387b;
$mainColorDarkPurple: #280158;
$mainColorPink: #FCA298;
$mainColorBgGrey: #F7FCFC;
$mainColorLightGrey:#F7F7F7;
$mainColorGrey:#909B9B;
$mainColorYellow: #FFB031;
$mainColorDarkCyan: #32A9AD;
$mainColorGreyCyan: #C0DBDD;

//viewport

$Mobile-Medium: 400px;
$Tablet: 768px;
$Desktop: 1020px;
$Desktop-Lg: 1700px;
$Desktop-Xl: 1900px;
